[project]
	description = A second iteration of a tool designed to download signal list information from Brainhoney
[access "refs/*"]
	owner = group user/Clay Diffrient (claydiffrient)
[access "refs/for/refs/*"]
	read = group user/Clay Diffrient (claydiffrient)
	push = group user/Clay Diffrient (claydiffrient)
	label-Code-Review = -2..+2 group user/Clay Diffrient (claydiffrient)
	label-Verified = -1..+1 group user/Clay Diffrient (claydiffrient)
	rebase = group user/Clay Diffrient (claydiffrient)
	removeReviewer = group user/Clay Diffrient (claydiffrient)
	submit = group user/Clay Diffrient (claydiffrient)
[access "refs/heads/*"]
	read = group user/Clay Diffrient (claydiffrient)
	create = group user/Clay Diffrient (claydiffrient)
	push = +force group user/Clay Diffrient (claydiffrient)
	pushMerge = group user/Clay Diffrient (claydiffrient)
[access "refs/tags/*"]
	push = +force group user/Clay Diffrient (claydiffrient)
	pushTag = group user/Clay Diffrient (claydiffrient)
	pushSignedTag = group user/Clay Diffrient (claydiffrient)
